#sidebar: p {{sidebar_text}}

.logos
  img(src="file:///{{ egf_logo_url }}" style="height:40px; width: auto")

hr
h1 Sequencing analysis report
hr

p.
  This document reports the sequencing results of the <b>{{ sequencinggroup.name }}</b> project.
  There are <b>{{ sequencinggroup.number_of_barcodes }}</b> barcodes in the analysis.
  Each chapter details the results of a barcode, and within a chapter each section reports on one plasmid.
  Please see the Appendix on the last page for an explanation of the report.

div(style="margin-top:1cm; margin-bottom:1cm;")

<div style = "display:block; clear:both; page-break-after:always;"></div>


each comparatorgroup in sequencinggroup.comparatorgroups

  h2 Barcode: {{ comparatorgroup.barcode }}
  hr

  p Out of <b>{{ comparatorgroup.number_of_constructs }}</b> constructs, there were <b>#[span.green {{ comparatorgroup.result_good }}]/#[span.yellow {{ comparatorgroup.result_warning}}]/#[span.red {{ comparatorgroup.result_error}} ]</b> (☑/⚠/☒) good/uncertain/errored constructs. The analysis yielded the following results:

  {{ comparatorgroup.report_table }}

  p Histogram of the <b>{{ comparatorgroup.n_fastq_reads }}</b> FASTQ reads:

  img#diff-figure(src="{{ comparatorgroup.fastq_figure_data }}")

  <div style = "display:block; clear:both; page-break-after:always;"></div>

  each comparator in comparatorgroup.comparators

    div(style="margin-top:1cm; margin-bottom:1cm;")


    if comparator.has_errors
      p(style="text-align:left;")
        b(style='font-size: 45px;') #[span.red ☒] &ensp; #[span.grey {{ comparator.record.id }}]
    else
      if comparator.has_warnings
        p(style="text-align:left;")
          b(style='font-size: 45px;') #[span.yellow ⚠] &ensp; #[span.grey {{ comparator.record.id }}]

      else
        //- all good
        p(style="text-align:left;")
          b(style='font-size: 45px;') #[span.green ☑] &ensp; #[span.grey {{ comparator.record.id }}]
        //- b(style='font-size: 20px;') &emsp;&emsp; Success!


    p Length of reference: 
      strong #[span.green {{ comparator.reference_length }}]
      | bp.

    h3 Coverage plot

    if comparator.has_low_coverage
      p
        strong #[span.yellow ⚠] Low sequencing depth!

    img#diff-figure(src="{{ comparator.figure_data }}")

    p Positions with low coverage: #[span.red {{ comparator.low_coverage_positions_string }} ]

    if comparator.high_error_positions_string
      p Positions with bad coverage: #[span.red {{ comparator.high_error_positions_string }} ]

    if comparator.has_reads_with_insert
      if comparator.has_big_insert
        p
          strong #[span.red ☒] {{ comparator.pct_big_insert }}% of reads have an insert >50 bp!
      else
        p
          strong #[span.yellow ⚠] {{ comparator.pct_big_insert }}% of reads have an insert >50 bp!
    else
      p
        <b> #[span.green ☑] {{ comparator.pct_big_insert }}</b>% of reads have an insert >50 bp.

    if comparator.has_de_novo
      h3 Comparison with reference

      {{ comparator.vcf_table_html }}
  
    unless comparator.has_comparison_error
      div(style="display:block; clear:both; page-break-after:always")

      if comparator.has_comparison_error
        p
          strong #[span.red Error!]
          | {{ comparator.geneblocks_text }}

      else
        p {{ comparator.geneblocks_text }}

        img#diff-figure(src="{{ comparator.comparison_figure_data }}")

      div(style="display:block; clear:both; page-break-after:always")

    //- <div style = "display:block; clear:both; page-break-after:always;"></div>



h2 Appendix

p Each barcode chapter consists of a summary and analysis sections.

p
  h5 Summary page
p The first page summarises the results and other details for each plasmid construct.

p
  h5 Analysis pages
p.
  Each plasmid construct is analysed separately. The result is summarised with a symbol:

p #[span.green ☑] : correct construct, based on no detection of errors
p #[span.yellow ⚠] : warning signs are present, but below the error thresholds
p #[span.red ☒] : errors were detected in the construct, or there are problems with the sequencing

p
  strong Coverage
p.
  The coverage plot displays the number of reads
  aligning to each base of the reference, in blue. This is useful for detecting deletions.
  The grey line shows the median. The dashed lines show the ±stdev.

p.
  Positions with low coverage are also listed, if there are any.
  Low coverage = below the coverage threshold.

p
  strong Comparison with reference
p.
  If a consensus (or <i>de novo</i> assembly) sequence is created from the reads,
  then it is compared with the reference. If the lengths differ more than 5%,
  then an error is displayed here, otherwise a
  <a href="https://edinburgh-genome-foundry.github.io/Geneblocks/">GeneBlocks</a>
  plot is made. In this plot, <code>+</code> means that the reference has extra sequence
  compared to the reads (unless a note tells otherwise).
  If variants were called, then a VCF table is also displayed. The columns of the table are:
   <ul>
    <li>LOC: Position</li>
    <li>REF: Reference sequence</li>
    <li>ALT: Alternative sequence</li>
    <li>TYPE: The type of allele (either snp, mnp, ins, del or complex)</li>
    <li>DP: Total read depth at the locus</li>
    <li>RO: Reference allele observation count</li>
    <li>AO: Alternate allele observations</li>
    <li>AF: Estimated allele frequency in the range (0,1]</li>
  </ul> 





style.
  .green {
    color: #86bf86
  }
  .grey {
    color: #a9a9a9
  }
  .red {
    color: #fd5a31
  }
  .yellow {
    color: #f7b500
  }
