#sidebar: p {{sidebar_text}}

.logos
  img(src="file:///{{ egf_logo_url }}" style="height:40px; width: auto")

hr
h1 Alignment analysis report
hr

div(style="margin-top:1cm; margin-bottom:1cm;")

p(style="text-align:left;")
  b(style='font-size: 50px;') #[span.green ☑] &ensp; #[span.grey {{ id }}]
  //- b(style='font-size: 20px;') &emsp;&emsp; Success!

p Length of reference: #[span.red {{ reference_length }}] bp.

h3 Coverage plot

img#diff-figure(src="{{ figure_data }}")

//- each reference in references
//-   .ui.segment.raised
//-     .ui.title.ribbon.label.teal {{ reference.id }}
//-     .description <b>Description</b>: {{ reference.description }}

p Positions with low coverage: {{ low_positions }}

p Positions with bad coverage: {{ bad_positions }}


style.
  .green {
    color: #86bf86
  }
  .grey {
    color: #a9a9a9
  }
  .red {
    color: #fd5a31
  }
